/* ---SETUP--- */

/* --vars-- */

:root {

    /* --pallete-- */

    /* -background color- */
    --clr1: linear-gradient(to top right, rgb(43, 43, 219), rgb(201, 201, 205));
    /* -icons hover color- */
    --clr2: rgb(255, 255, 255);
    /* -menu hover color- */
    --clr3: rgba(181, 19, 19, 0.927);
    /* -gallery section background- */
    --clr4: rgba(0, 0, 0, 0.301);
    /* -gallery image hover- */
    --clr5: rgb(63, 189, 76);
    /* -canvas meme border- */
    --clr6: rgb(255, 255, 255);
    /* -download btn color- */
    --clr7: rgba(71, 200, 60, 0.744);
    /* -share btn color- */
    --clr8: rgba(210, 109, 27, 0.744);
    /* -canvas icons color- */
    --clr9: rgba(217, 217, 217, 0.616);
    /* -canvas icons hover color- */
    --clr10: rgba(80, 205, 207, 0.823);


    /* --bp-- */
    --s: ;
    --m: ;
    --l: ;
}

/* ---BASE--- */

/* --typography-- */

@font-face {
    font-family: RubikVinyl-Regular;
    src: url(/font/RubikVinyl-Regular.ttf);
}

@font-face {
    font-family: Kenia-Regular;
    src: url(/font/Kenia-Regular.ttf);
}

@font-face {
    font-family: fa-brands;
    src: url("/font/fa/fa-brands-400.ttf");
}

@font-face {
    font-family: fa-solid;
    src: url("/font/fa/fa-solid-900.ttf");
}

/* --basicx-- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-transform: capitalize;
    font-family: RubikVinyl-Regular, sans-serif;
}

header {
    display: flex;
}

.menu {
    padding: 1.5rem;
}

.gallery-section {
    grid-area: gallery;
    display: grid;
    padding: 10px;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    text-align: center;
    background-color: var(--clr4);
    border-radius: 10px;
}

.about-section {
    margin: auto;
    background-color: var(--clr4);
    width: 100vw;
}

.about-section h2 {
    color: var(--clr6);
}

.about-section p {
    margin: auto;
    color: rgb(211, 211, 211);
}

footer {
    grid-area: footer;
    margin: 20px;
}

button {
    cursor: pointer;
}

.fa::before {
    font-family: fa-brands;
    font-size: 0.5em;
}

.fa.facebook::before {
    content: "\f39e";
}

.fa.linkedin::before {
    content: "\f0e1";
}

.fa.github::before {
    content: "\f09b";
}

.fa:hover {
    color: var(--clr2);
}

.text-line {
    height: 30px;
    width: 490px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: Kenia-Regular, sans-serif;
    grid-area: text-line;
}

.fa-solid {
    background: none;
    border: none;
    color: var(--clr9);
}

.fa-solid:hover {
    color: var(--clr10);
}

.fa-solid::before {
    font-family: fa-solid;
    font-size: 2em;
}

.fa-solid.switch::before {
    content: "\f363";
    grid-area: switch;
}

.fa-solid.new::before {
    content: "\2b";
    grid-area: new;
}

.fa-solid.delete::before {
    content: "\f1f8";
    grid-area: delete;
}

.fa-solid.bigger-text::before {
    content: "\f424";
    grid-area: bigger;
}

.fa-solid.smaller-text::before {
    content: "\f422";
    grid-area: smal;
}

.fa-solid.ltr::before {
    content: "\f061";
    grid-area: ltr;
}

.fa-solid.bars::before {
    content: "\f0c9";
    grid-area: bars;
}

.fa-solid.rtl::before {
    content: "\f060";
    grid-area: rtl;
}

.fa-solid.bold::before {
    content: "\f032";
    grid-area: bold;
}

.fa-solid.paint::before {
    content: "\f53f";
    grid-area: paint;
}

small {
    display: block;
    font-size: 0.5em;
    color: var(--clr2);
    margin: 0.5em 0;
}

.select-font {
    margin-top: 18px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-family: Kenia-Regular;
    text-align: center;
    background-color: var(--clr9);
    border-radius: 5px;
    cursor: pointer;
}

.select-font:hover {
    background-color: var(--clr10);
}

img {
    cursor: pointer;
    height: 150px;
    transition: 1.5s;
}

img:hover {
    box-shadow: 0.5em -0 .8em var(--clr5), -0.5em 0 .8em var(--clr5);
}

.meme {
    display: flex;
    background-color: var(--clr4);
    padding: 10px;
}

.canvas {
    box-shadow: 0.5em -0 .8em var(--clr6), -0.5em 0 .8em var(--clr6);
}

.btn-download {
    grid-area: download;
    color: var(--clr7);
    font-weight: bold;
}

.btn-share {
    grid-area: share;
    cursor: pointer;
    color: var(--clr8);
    font-weight: bold;
}

.btn:hover {
    color: rgba(59, 207, 210, 0.932);
}

.editor-section {
    align-self: flex-start;
    margin-left: 100px;

    display: grid;
    margin: auto 100px;
    /* place-content: center; */
    /* text-align: center; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        'h2 h2 h2'
        'text-line text-line text-line'
        'switch new delete'
        'bigger smal ltr'
        'bars rtl bold'
        'paint paint paint'
        'download share share';
}

h2 {
    padding-bottom: 20px;
    grid-area: h2;
}

P {
    max-width: 40ch;
}

/* ---COMPONENTS--- */

.menu-a {
    cursor: pointer;
}

.category.active {
    background-color: var(--clr7);
    border-radius: 40px;
}

.grid-container {
    background: var(--clr1);
    display: grid;
    margin: auto;
    width: 100vw;
    height: 100vh;
    place-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 'header'
        'gallery'
        'footer';
}

.logo {
    flex-basis: 20%;
    margin: auto;
    color: rgb(219, 219, 219);
    font-size: 2.3rem;
    margin-left: 2.5rem;
}

.logo-footer {
    font-size: 1rem;
}

.main-nav {
    display: flex;
    flex-basis: 80%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    padding: 0.5rem;
}

.icons {
    padding: 0 8px;
}

.menu:hover {
    background-color: var(--clr3);
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

.user-msg {
    transition: 1s;
    font-size: 30px;
    height: 60px;
    width: 490px;
    position: fixed;
    top: -150px;
    left: 590px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    color: white;
}

.user-msg.show {
    font-size: 30px;
    height: 60px;
    width: 500px;
    position: fixed;
    top: 250px;
    left: 570px;
    opacity: 1;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.meme-modal {
    transition: 1s;
    height: 400px;
    width: 400px;
    position: fixed;
    top: 250px;
    left: -150px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
    font-size: 30px;
    text-align: center;
}

.meme-modal.shown {
    top: 250px;
    left: 570px;
    opacity: 1;
}

.exit-btn {
    position: absolute;
    height: 40px;
    width: 40px;
    background: none;
    top: 0;
    right: 0;
    margin: 0;
    color: white;
}

.meme-h1 {
    font-size: 50px;
    color: white;
    margin: 0;
    padding: 0;
}

.meme-h2 {
    margin-top: 30px;
    font-size: 25px;
    color: rgb(25, 208, 165);
}

.meme-h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(123, 123, 123);
}

.curr-meme-img {
    height: 100px;
    width: 100px;
}

/* ---HELPERS--- */

.center {
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}